@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.75rem;

    /* Chart Colors - Light Mode */
    --chart-actual: #A8C5DA;
    --chart-projection: #E5ECF6;
    --chart-grid: #E2E8F0;
    --chart-line-current: #1C1C1C;
    --chart-line-previous: #93C5FD;
    --chart-donut-1: #1C1C1C;
    --chart-donut-2: #BAEDBD;
    --chart-donut-3: #95A4FC;
    --chart-donut-4: #B1E3FF;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;
    --card: 0 0% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    /* Chart Colors - Dark Mode */
    --chart-actual: #A8C5DA;
    --chart-projection: #334155;
    --chart-grid: #334155;
    --chart-line-current: #FFFFFF;
    --chart-line-previous: #3b82f6;
    --chart-donut-4: #B1E3FF;
    --chart-donut-1: #C6C7F8;
    --chart-donut-2: #95A4FC;
    --chart-donut-3: #BAEDBD;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    height: 100%;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Custom scrollbar for aesthetics */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #334155;
}